@model IEnumerable<Blog.BLL.DTO.PostDTO>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">список публикаций автора</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Post" asp-action="Create" asp-route-authorId="@ViewData["authorId"]" class="btn btn-primry">новая публикация</a>
        </div>
    </div>
    <br/>
</div>