@model IEnumerable<Blog.BLL.DTO.AuthorDTO>

<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary">список авторов</h2>
    </div>
  </div>
  <br />
</div>